@font-face {
  font-family: 'Naruto';
  src: url(/ninja-nartuo-font/NinjaNaruto-YOn4.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1, h2{
  font-family: Naruto;
}

.mute-btn {
  text-align: end;
}

